body{
    background-color: rgb(168, 212, 209);
}

#resultsSection{
    background-color: aqua;
}

#operationsHistorySection{
    background-color: aquamarine;
}

.selected{
    background-color: rgb(241, 199, 135);
}