body{
    background-color: rgb(168, 212, 209);
}
header{
    font-size: 36px;
    margin: 16px 0px 16px 100px;
}
#calculator{
    margin: auto;
    background-color: #42819e;
    width: 350px;
    height: 325px;
    text-align: center;
    border-radius: 4px;
    float:left;
}
#operationInput{
    width: 240px;
    height: 50px;
    font-size: 26px;
    text-align: right;
    background-color: #f1faeb;
    color: #495069;
    position: relative;
    left: 5px;
    top: 5px;
    border: 0;
    float: left;
    margin: 5px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
}
button{
    outline: 0;
    position: relative;
    left: 5px;
    top: 5px;
    color: #495069;
    width: 75px;
    height: 50px;
    border-radius: 4px;
    float: left;
    margin: 5px;
    font-size: 20px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
}
#clearBtn{
    float: left;
    position: relative;
    display: block;
    background-color: #ff9fa8;
    margin-bottom: 15px;
}
.operatorBtn{
    background-color: #f1ff92;
    position: relative;
}
#equalBtn{
    background-color: #baff92;
    position: relative;
}

.textElements{
    background-color: #aab2cf;
    float: left;
    width: 240px;
    height: 325px;
    text-align: right;

}
.results{
    padding: 4px;
    font-size: 26px;
}
.history li{
    padding: 8px;
    font-size: 24px;
    list-style-type: none;
}
.history li:hover{
    background-color: #9298af;
}

#clearHistoryBtn{
    width: auto;
    padding: 8px;
    background-color: #c98383;
    color: #000000;
}


/* All hover effects */
/*Calculator buttons*/
#operationInput:hover{
    background-color: #adecf5;
}
.calculatorBtn:hover{
    background-color: #ac90da;
    color:rgb(255, 255, 255)
}
.operatorBtn:hover{
    background-color: #d7e461;
}
#clearBtn:hover{
    background-color: #d18088;
}
#equalBtn:hover{
    background-color: #8bc06d;
    position: relative;
}
/*Results and history section*/
.history li:hover{
    background-color: #9298af;
}
#clearHistoryBtn:hover{
    background-color: #994444;
    color:rgb(255, 206, 206)
}
